version: '3.3'
services:
  database:
    image: 'postgres:13.1-alpine'
    container_name: database
    volumes:
      - postgres-data:/var/lib/postgresql/data
    expose:
      - 5432
    ports:
      - 5432:5432
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=simple-med
    restart: unless-stopped
  backend:
    image: simple-med-backend
    container_name: simple-med-backend
    expose:
      - 8080
    ports:
      - 8080:8080
    restart: unless-stopped
    depends_on:
      - database
    links:
      - database
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://database:5432/simple-med
      - SPRING_DATASOURCE_USERNAME=postgres
      - SPRING_DATASOURCE_PASSWORD=postgres
  frontend:
    image: simple-med-frontend
    ports:
      - '9000:80'
volumes:
  postgres-data:

